div.container {
    background-color: brown;
    height: 500px;
    display: grid;
    grid-template-columns:repeat(2, 1fr) 20%;
    grid-auto-rows: 100px;
    place-items: stretch stretch;
    place-content: space-between space-evenly;
}

div.filho {
    background-color: blue;
    border: 2px dashed;
    text-align: center;
    font-weight: bold;
}