@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: rgba(84, 198, 96, 1);
}

header {
    background-image: linear-gradient(to bottom, rgba(84, 198, 96, 1), rgb(23, 58, 27, 1));
    color: white;
    width: 100%;
}

header > p {
    text-align: center;
}

h1 {
    text-align: center;
}
h2 {
    background-image: linear-gradient(to right, rgba(84, 198, 96, 1) 30px, rgba(255, 255, 255, 1) 70%);
}

nav {
    padding: 5px;
}
nav > a {
  margin-right: 15px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}


main {
    background-color: white;
    max-width: 1000px;
    width: 100%;
    margin: auto;
    padding: 30px;
}

main > p {
    text-indent: 30px;
    text-align: center;

}

picture {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

iframe {
    margin: 0 auto;    
}

footer {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}