@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}


main {
    height: 100vh;
    position: relative;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

input.campo {
    margin-top: 10px;
    background-color: rgba(128, 128, 128, 0.788);
}


input.botao {
    background-color: darkred;
    color: white;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.474);
}

