* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #004FE0, #2E4F8B);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #1f3660 ;
    width: 650px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #E09900;
    text-align: center;
}

h2 {
    color: #A17A28;
}

p {
    text-align: center;
}
