
div.container {
    display: block;
    flex-direction: column;
    background-color: #f08080;
    gap: 1.2em;
}

div.filho {
    background-color: aqua;
    border: 1px solid black;
    flex: auto;
}
