
div.container {
    display: flex;
    flex-direction: column;
    background-color: lightcoral;
    gap: 1.2em;
}

div.filho {
    background-color: aqua;
    border: 1px solid black;
    flex: auto;
}