@charset "UTF-8";

body {
    background-color: rgb(0, 167, 167);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background-color: white;
    margin: 0;
    padding: 10px;
    text-align: center;

}

main {
    background-color: white;
    width: 800px;
    margin: auto;
}




footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px;
    margin: 0;
}

footer > p {
    margin: 0;
}