@charset "UTF-8";

/* estilo para telas */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color: lightgray;
}

header > h1 {
    text-align: center;
}

menu li {
    display: inline-block;
    padding: 10px;
}

menu ul {
    color: white;
    list-style-type: none;
    background-color: gray;
}


article {
    width: 600px;
    margin: auto;
}
article > h2 {
    text-align: center;
    margin: 10px;
}

article > p {
    text-indent: 1.5em;
    margin-top: 10px;
    line-height: 1.5em;
}


