@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

caption {
    background-color: #005391;
    padding: 10px;
}

table {
    width: 500px;
    border: 1px solid black;
    border-collapse: collapse;
}

thead {
    background-color: gray;
}

td, th {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}



