@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(90deg, #2F3AB5, #3C4175);
}

p {
    text-align: justify;
}

main {
    background-color: white;
    box-shadow: 5px 5px 15px #1f213c;
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin: auto;

}

h1 {
    color: #F5C102;
    text-align: center;
    text-shadow: 1px 1px 2px #b28b01;
}

h2 {
    color: #F5C102;
}

