@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color: red;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: darkred;
}

a:hover {
    text-decoration: underline;
    color: black;
}

a::before {
    content: "\2192";
    text-decoration: none;
}
