@charset "UTF-8";


@media print {
    body {
        font-family: 'Courier New', Courier, monospace;
        text-shadow: none;
        color: black;
    }

    img#telefone { display: none; }
    img#print { display: block; } 
}


    /* tablet*/
@media screen and (min-width: 769px) and (max-width: 1023px) {
    body {
        background-image: url(../images/back-tablet.jpg);
    }

    main {
        width: 600px;
    }

    img#telefone { display: none; }
    img#tablet { display: block; }
}

    /*Desktop*/
@media screen and (min-width: 1025px) and (max-width: 1920px) {
    body {
        background-image: url(../images/back-pc.jpg);
    }

    main {
        width: 800px;
    }

    img#telefone { display: none; }
    img#pc { display: block; }
}

    /*TVs*/
@media screen and (min-width: 1921px) {
    body {
        background-image: url(../images/back-tv.jpg);
    }

    main {
        width: 1000px;
    }


    img#telefone { display: none; }
    img#tv { display: block; }
}