*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: aquamarine;
    font-family: arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

h1 {
    color: darkblue;
    margin-bottom: 20px;
}
h2 {
    color: darkgreen;
    margin-bottom: 15px;
}
p {
    text-align: justify;
    margin-bottom: 25px;
}