body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 400px;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: gray;
}

div#container {
    overflow-x: auto;
}

