@charset "UTF-8";

body {
    background-color: rgb(0, 167, 167);
    font-family: Arial, Helvetica, sans-serif;
}

#principal {
    text-align: center;
    background-color: blue;
    color: #ffff;
}

h1 {
    color: rgb(10, 10, 228);
}

h2 {
    color: rgb(2, 2, 80);
}